/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-helveta,
.btn-helveta:hover,
.btn-helveta:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: rgba(255,255,255,0.9);
  border: 0;
  border-radius: 0;
}
.btn-helveta:hover,
.btn-helveta:focus {
  background-color: rgba(255,255,255,0.5);

}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  color: #fff;
  text-align: center;
}

h1 {
    font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 1.5;
}

h2 {
    font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 1.5;
}

h3 {
    font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 1.5;
}

h4, h5, h6 {
    font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 1.5;
}
 
body,
p,
.lead {
    font-family: 'Times New Roman', Georgia, Times, serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.5;
}

.text-black {
  color: #000000;
}

.text-black a,
.text-black a:hover,
.text-black a:focus {
  color: #000000;
}
 {
  color: #000000;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  background-color: rgba(0,15,35, 0.3);
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  .mastfoot {
    position: absolute;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
    body {
        font-size: 24px;
}
