html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
  font-family: 'Calibri', sans-serif;
  
}

body {
  font-family: 'Calibri', sans-serif;
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg');
  background-position: center top;
  background-size: cover;
  overflow: scroll;
}

/*Navigation*/
.page-title {
  position: fixed;
  right: 60%;
  font-weight: 100;
}

ul{
  list-style-type: none;
}

ul li{
  padding: 5px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  position: relative;
  float: right;
  margin-right: 100px;
  display: inline-table;
}

nav ul h1 {
  float: left;
  margin-right: 50px;
  margin-top: 20px;
}
nav ul li {
  float: left;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav ul li:hover {
  background: rgba(0, 0, 0, 0.15);
}

nav ul li:hover > ul {
  display: block;
}

nav ul li {
  float: left;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav ul li a {
  display: block;
  padding: 30px 20px;
  color: #222;
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul ul {
  display: none;
  background: #fff;
  position: absolute;
  top: 100%;
  box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul ul li {
  float: none;
  position: relative;
}

nav ul ul li a {
  padding: 15px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

/*----SEARCH----*/
#maket {
  margin-top: 120px;
  margin-left:50px;
  width: 100%;
}
TD {
  vertical-align: top;
  padding: 5px;
}

TD#leftcol {
  width: 25%;
  height:100%;
  text-align: left;
}

h2 {
  position: fixed;
  margin-top:30px;
  font-weight:bold;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;
}

input[type="text"]{
  position: fixed;
  margin-top:70px;
  height: 30px;
  font-size: 100%;
  letter-spacing: 1px;
  text-transform: lowercase;
}

input[type="submit"] {
  position: fixed;
  margin-top:110px;
  padding:5px 15px; 
  background:#fff; 
  border: 1px;
  cursor:pointer;
  border-radius: 1px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  height: 40px;
  font-size: 100%;
}

input[type="checkbox"] {
  margin-top: 15px;
}

fieldset{
  position: fixed;
  margin-top:180px;
  padding: 5px;
  /*border: 1px solid #000;*/
  display: block;
  color: #222;
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.instr{
  position:fixed;
  width: 15%;
  font-style: italic;
  margin-top:260px;
  margin-left:10px;
  color: #808080;
  font-weight:300;
}
/*----RESULT----*/

TD#rightcol {
  text-align: left;
  width:100%;
}

h3 {
  color: #222;
  font-size: 1em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.dmitr{
  border-top-style: solid;
  border-top-width: 1px;
  color: #808080;
}

hr {
  border: 0;
}

orth,stress,form [type = "inflected"],form[type = "headword"] orth,form [type = "derivative"]/*usg[type = "gram"]*/{
  font-size: 14pt;
  letter-spacing: 1px;
  text-transform: lowercase;
}
gencase {
  font-size: 12pt;
}

iType,case,pos,gen{
  font-style: italic;
  font-size: 12pt;
}

def{
  font-size: 15pt;
  margin-left:20px;
  font-style: normal;
  font-weight:500;
}
usg def{
  font-style: normal;
  font-size: 12pt;
  margin:50px;
}

q{
  font-style: italic;
  /*margin-left: 30px;*/
  font-size: 13pt;
  font-weight:300;
  quotes:none;
}

usg[type = "plev"]{
}

usg{
  font-style: italic;
}

pron{
  letter-spacing: 2px;
  font-size: 13pt;
  margin: 30px;
  
}

lbl{
  font-size: 13pt;
  letter-spacing: 0px;
  font-style: italic;
}

lbl def{
  font-size: 13pt;
  font-style: normal;
  margin:50px;
}

xr{
}

etym lang{
  font-style: italic;
}

etym mentioned {
  border-bottom:  1px dashed #000080;
  letter-spacing: 1px;
}