html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
  font-family: 'Calibri', sans-serif;
  
}

body {
  font-family: 'Calibri', sans-serif;
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg');
  background-position: center top;
  background-size: cover;
  overflow: scroll;
}

/*Navigation*/
.page-title {
  position: fixed;
  right: 60%;
  font-weight: 100;
}

ul{
  list-style-type: none;
}

ul li{
  padding: 5px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  position: relative;
  float: right;
  margin-right: 100px;
  display: inline-table;
}

nav ul h1 {
  float: left;
  margin-right: 50px;
  margin-top: 20px;
}
nav ul li {
  float: left;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav ul li:hover {
  background: rgba(0, 0, 0, 0.15);
}

nav ul li:hover > ul {
  display: block;
}

nav ul li {
  float: left;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav ul li a {
  display: block;
  padding: 30px 20px;
  color: #222;
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul ul {
  display: none;
  background: #fff;
  position: absolute;
  top: 100%;
  box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul ul li {
  float: none;
  position: relative;
}

nav ul ul li a {
  padding: 15px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

/*----SEARCH----*/
#maket {
  margin-top: 100px;
  width: 100%;
}
TD {
  vertical-align: top;
  padding: 5px;
}

TD#leftcol {
  width: 25%;
  height:100%;
  text-align: left;
}

h2 {
  position: fixed;
  font-weight:bold;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;
}

input[type="text"]{
  position: fixed;
  margin-top:30px;
  height: 30px;
  font-size: 100%;
  letter-spacing: 1px;
  text-transform: lowercase;
}

input[type="submit"] {
  position: fixed;
  margin-top:315px;
  padding:5px 15px; 
  background:#fff; 
  border: 1px;
  cursor:pointer;
  border-radius: 1px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  height: 40px;
  font-size: 100%;
}

input[type="checkbox"] {
  margin-top: 15px;
}

fieldset{
  position: fixed;
  margin-top:60px;
  padding: 5px;
  border: 1px solid #000;
  display: block;
  color: #222;
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

/*----RESULT----*/

TD#rightcol {
  text-align: left;
}

form[type = "headword"] orth {
  font-size: 120%;
  letter-spacing: 1px;
}

form[type = "headword"] stress{
  font-size: 150%;
  letter-spacing: 2px;
  }

form [type = "inflected"]{
  font-size: 130%;
  letter-spacing: 2px;
}

orth[extent = "part"] {
  font-style: italic;
}

def{
  letter-spacing: 1px;
  font-size: 110%;
}

q{
  font-style: italic;
  margin-left: 30px;
  font-size: 120%;
  font-weight:300;
}

usg[type = "gram"],iType,case{
  text-transform: lowercase;
  font-size: 95%;
  font-style: italic;
}

usg[type = "plev"]{
}

usg{
}

lbl{
}

xr{
}