<html>
<head>
    <title>Машиночитаемый словарь</title>
    <meta charset="utf-8"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>

<body>
    <header>
<nav role='navigation'>
  <ul>
	<h1 class="page-title">Машиночитаемый словарь русского языка</h1>
    <li><a href="/">Главная</a></li>
	<li><a href="index.html">Поиск</a></li>
    <li><a href="#">Словари проекта</a>
      <ul>
        <li><a href="dmitr.html">Толковый словарь Д.В. Дмитриева</a></li>
        <li><a href="bts.html">Большой толковый словарь С.А. Кузнецова</a></li>
      </ul>
    </li>
    <li><a href="download_page.html">Скачать</a></li>
    <li><a href="contacts.html">Контакты</a></li>
  </ul>
  </nav>
    <p class="page-description">«Большой толковый словарь русского языка» является универсальным справочником по современному русскому языку. В своих основных чертах он продолжает традиции отечественной академической лексикографии. Словарь соединяет научность с ясной, доходчивой формой изложения. Его основная задача – дать полную характеристику слова (его написания, произношения, происхождения, словоизменения, значения, сферы функционирования, сочетаемости), а также показать исторические, эстетические, символические смысловые нагрузки слова.
	Словарь учитывает интересы широкого круга читателей, в том числе и не имеющих филологической подготовки; он предназначен для всех тех, кто изучает русский язык, кого интересует русская культура.
	Словарь является плодом научных изысканий, в основе которых лежат материалы картотеки словарного отдела Института лингвистических исследований РАН, в которой уже более ста лет ведется работа по сбору данных о словах русского языка.
	Величина словника позволяет полно представить лексический состав русского языка. В словаре содержится лексика всех стилистических пластов и литературных жанров, в которых функционирует русский язык на протяжении всего двадцатого века.
	Иллюстративный фонд словаря содержит пословицы, поговорки, афоризмы, цитаты признанных классиков русской литературы.
	В работе над словарем участвовали специалисты словарного отдела Института лингвистических исследований РАН, преподаватели Санкт-Петербургского государственного университета, Российского государственного педагогического университета им. А. И. Герцена и др.</p>
    </header>
	<br>
  </body>
</html>