<html>
<head>
    <title>Машиночитаемый словарь</title>
    <meta charset="utf-8"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>

<body>
    <header>
<nav role='navigation'>
  <ul>
	<h1 class="page-title">Машиночитаемый словарь русского языка</h1>
    <li><a href="/">Главная</a></li>
	<li><a href="index.html">Поиск</a></li>
    <li><a href="#">Словари проекта</a>
      <ul>
        <li><a href="dmitr.html">Толковый словарь Д.В. Дмитриева</a></li>
        <li><a href="bts.html">Большой толковый словарь С.А. Кузнецова</a></li>
      </ul>
    </li>
    <li><a href="download_page.html">Скачать</a></li>
    <li><a href="contacts.html">Контакты</a></li>
  </ul>
  </nav>
    </header>
	<br>
	<br>
	<br>
	<center>
	<p class="page-description">
		<a href = "https://www.hse.ru/org/persons/86805029">Алексеевский Даниил</a><br>
		<a href = "https://www.hse.ru/org/persons/32878143"> Бонч-Осмоловская Анастасия</a><br>
		Войтехович Анна<br>
		Головко Татьяна<br>
		Дроздова Ксения<br>
		Малашина Александра<br>
		Темченко Анастасия
		</p>

	<br>
  </body>
</html>	
