<html>
<head>
    <title>Машиночитаемый словарь</title>
    <meta charset="utf-8"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>

<body>
    <header>
<nav role='navigation'>
  <ul>
	<h1 class="page-title">Машиночитаемый словарь русского языка</h1>
    <li><a href="/">Главная</a></li>
	<li><a href="index.html">Поиск</a></li>
    <li><a href="#">Словари проекта</a>
      <ul>
        <li><a href="dmitr.html">Толковый словарь Д.В. Дмитриева</a></li>
        <li><a href="bts.html">Большой толковый словарь С.А. Кузнецова</a></li>
      </ul>
    </li>
    <li><a href="download_page.html">Скачать</a></li>
    <li><a href="contacts.html">Контакты</a></li>
  </ul>
  </nav>
    </header>
	<center><h2 class="cover-heading">Версия для скачивания</h2></center>
		<p class="page-description">
		К сожалению, в данный момент функция не работает. В ближайшее время она обязательно появится.
					</p>
					<center><a href="static/images/no_download.jpg" download>Download</a></center>

	<br>
  </body>
</html>	
