<html>
<head>
    <title>Машиночитаемый словарь</title>
    <meta charset="utf-8"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/css/search.css">
	<script type="text/javascript">
  function showOrHide(cb, cat) {
    cb = document.getElementById(cb);
    cat = document.getElementById(cat);
    if (cb.checked) cat.style.display = "block";
    else cat.style.display = "none";
  }
</script>
</head>

<body>
    <header>
	<br>
<nav role='navigation'>
  <ul>
	<h1 class="page-title">Машиночитаемый словарь русского языка</h1>
    <li><a href="/">Главная</a></li>
	<li><a href="index.html">Поиск</a></li>
    <li><a href="#">Словари проекта</a>
      <ul>
        <li><a href="dmitr.html">Толковый словарь Д.В. Дмитриева</a></li>
        <li><a href="bts.html">Большой толковый словарь С.А. Кузнецова</a></li>
      </ul>
    </li>
    <li><a href="download_page.html">Скачать</a></li>
    <li><a href="contacts.html">Контакты</a></li>
  </ul>
  </nav>
    </header>

<table height="100%" cellspacing="0" id="maket">
	<tr>
	<td id="leftcol">
		<h2 class="cover-heading">Поиск по словарю</h2>
		<form action="/index.html" method="post">
			<input type="text" style="color: black" name=key_word placeholder="Введите слово">
			<fieldset id="shest">
				<legend><input type="checkbox">Показать все</legend>
				<input type="checkbox" name="morpho" id = 'cb1' onchange = 'showOrHide("cb1", "1");'>Морфология<br>
				<input type="checkbox" name="style" id = 'cb2' onchange = 'showOrHide("cb2", "2");'>Стилистика<br>
				<input type="checkbox" name="examples" id = 'cb3' onchange = 'showOrHide("cb3", "3");'>Примеры<br>
				<input type="checkbox" name="derivates" id = 'cb4' onchange = 'showOrHide("cb4", "4");'>Производные<br>
				<input type="checkbox" name="derivates" id = 'cb5' onchange = 'showOrHide("cb5", "5");'>Толкование БТС<br>
				<input type="checkbox" name="derivates" id = 'cb6' onchange = 'showOrHide("cb6", "6");'>Толкование Дмитриева
			</fieldset>
			<input type="submit" class="btn btn-lg btn-helveta" value="Искать">
		</form>
	</td>
	<td id="rightcol">
			{{ result|safe }}
	</td>
	</tr>
</table>
	<script>
		var main = document.querySelector('#shest legend [type="checkbox"]'),
			all = document.querySelectorAll('#shest > [type="checkbox"]');

		for(var i=0; i<all.length; i++) {  // 1 и 2 пункт задачи
			all[i].onclick = function() {
				var allChecked = document.querySelectorAll('#shest > [type="checkbox"]:checked').length;
				main.checked = allChecked == all.length;
				main.indeterminate = allChecked > 0 && allChecked < all.length;
			}
		}

		main.onclick = function() {  // 3
			for(var i=0; i<all.length; i++) {
				all[i].checked = this.checked;
			}
		}
	</script>
  </body>
</html>