<!doctype html>
	<html>
		<head>
		    <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
			<title>Machine-Readable Dictionary</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
			<link href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet" type="text/css">
			<link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">

			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

			<!-- Custom styles for this template -->
			<link type="text/css" href='static/css/cover_css.css' rel="stylesheet">
			<style type="text/css">
			/* Extra markup and styles for table-esque vertical and horizontal centering */
            .site-wrapper {
            display: table;
            width: 100%;
            height: 100%; /* For at least Firefox */
            min-height: 100%;
            background: url('static/images/paper_cover2.jpg') no-repeat;
            background-size: cover;
            background-position: center; 
            }
			</style>

	</head>

	<body>
		<div class="site-wrapper">

			<div class="site-wrapper-inner">

			<div class="cover-container">

			    <div class="masthead clearfix">
			        <div class="inner">
			              <!-- Fixed navbar -->
						<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
							<div class="container">
								<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								</div>
							<div class="navbar-collapse collapse">
								<ul class="nav navbar-nav">
									<li><a href="/">Главная</a>
									<li><a href="reference.html">О проекте</a></li>
									<li><a href="tutorial.html">Инструкция</a></li>
									<li><a href="download_page.html">Скачать</a></li>
									<li><a href="contacts.html">Контакты</a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Словари проекта<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="dmitr.html">Толковый словарь Д.В. Дмитриева</a></li>
											<li><a href="bts.html">Большой толковый словарь С.А. Кузнецова</a></li>
										</ul>
									</li>
								</ul>
							</div><!--/.nav-collapse -->
						</div>
					</div>	  
			    </div>
			</div>
			<br>
			<div class="inner cover">
			    <h1 class="cover-heading">Как пользоваться словарем</h1>
				
			    <p>
			        К сожалению, мы еще сами не знаем, но скоро узнаем, и эта страничка обязательно заполнится содержимым!
			    </p>
          <p><img src="static/images/excuse_picture.jpg" alt=" "></p>
          <br>
          <a href="/" class="btn btn-lg btn-helveta">На главную</a>
		
			</div>
			<br>
		</div>
	</div>
	</div>


			<!-- Site footer -->
			<div class="footer text-muted inner">
			  <p>&copy; Project 2016</p>
			</div>

			<!-- Latest compiled and minified JavaScript -->
			 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		  
		   
	</body>
</html>
